.login-content-container {
	width: 100%;
	display: table;
	position: relative;
	top: 30%;
}

.login-msg-container {
	margin: 0 auto;
	height: 200px;
	width: 300px;
	border-radius: 10px;
	/* background: rgb(15, 102, 112); */
	background: #4eC3c4;
	padding-top: 30px;
	color: white;
	border: solid black 1px;
	box-shadow: rgba(0,0,0,.1) 3px 3px;
}

.logged-in-content-container {
	justify-content: center;
}

.btn-container {
	display: flex;
	justify-content: center;
}

.login-msg-div {
	display: flex;
	justify-content: center;
}

.login-as-div {
	position: relative;
	display: flex;
	justify-content: center;
}
form button.login-as-next-btn {
	background: blue;
}

#select-model {
	width: 100%;
	margin: 10px auto;
}

button.model-btn {
	background-color: white;
	border-radius: 10px;
	height: 40px;
	width: 80px;
	text-align: center;
	align-content: center;
	border: none;
	margin: 5px;
}

button.active {
	transition: .25s;
	/* background: rgb(254,105,96); */
	background: #3B0CE8;
	color: white;
}

div.login-as-btn-div {
	margin: 5px auto 5px auto;
	width: 100%;
	display: flex;
	padding-left: 4px;
	justify-content: center;
}

.select-bar {
	height: 40px;
	font-size: 14px;
}

div button.login-as-btn {
	height:20px;
	margin: 0;
}

div span.btn-text-back {
	bottom: 5px;
	font-size: 10px;
	position: absolute;
	right: 10px;
}
div span.btn-text-next {
	bottom: 5px;
	font-size: 10px;
	position: absolute;
	left: 10px;
}

.register-msg {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.form-container {
	display: block;
}

.error-div {
	position: absolute;
	top: -20px;
	display: block;
	font-size: 8pt;
	color: red;
}