.login-content-container {
	width: 100%;
	display: table;
	position: relative;
	top: 30%;
}

.login-msg-container {
	margin: 0 auto;
	height: 200px;
	width: 300px;
	border-radius: 10px;
	background: rgb(15, 102, 112);
	padding-top: 50px;
	color: white;
}

.logged-in-content-container {
	justify-content: center;
}

.btn-container {
	display: flex;
	justify-content: center;
}

.login-msg-div {
	display: flex;
	justify-content: center;
}

.login-as-div {
	position: relative;
	display: flex;
	justify-content: center;
}

.select-bar {
	height: 40px;
	font-size: 14px;
}

.login-as-btn {
	height:20px;
}

div span.btn-text-back {
	bottom: 5px;
	font-size: 10px;
	position: absolute;
	right: 10px;
}
div span.btn-text-next {
	bottom: 5px;
	font-size: 10px;
	position: absolute;
	left: 10px;
}

.register-msg {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.form-container {
	display: block;
}

.error-div {
	position: absolute;
	top: -20px;
	display: block;
	font-size: 8pt;
	color: red;
}

button.smaller {
	height: 20px;
}