#navbar {
	display:block;
	height: 50px;
	top: 0;
	background-color: rgba(255,255,255, .0);
	position: absolute;
	z-index: 1;
	width: 100%;
}
#navbar li {
	list-style-type: none;
}

#line {
	color: rgb(192, 192, 192);
}

#footer {
	position: relative;
	bottom: -450px;
	display: block;
	height: 200px;
	background-color: black;
}
#footer-content-container {

}

.btn-container {
	margin-bottom: 50px;
}

#divider {
	margin-bottom: 50px;
}

#footer-text-div {
	margin: 0 auto;
	width: 100px;
	text-align: center;
}

#footer-text {
	color: silver;
}