.signup-content-container {
	width: 100%;
	display: table;
	position: relative;
	top: 30%;
}

.signup-msg-container {
	margin: 0 auto;
	height: 200px;
	width: 300px;
	border-radius: 10px;
	background: #3B0CE8;
	border: 1px solid black;
	color: white;
}

.signup-as-div {
	position:relative;
	display: flex;
	justify-content: center;
}

.select-container {
	margin-top: 30px;
}

.full-width {
	width: 100%;
}

.btn-container {
	display: flex;
	justify-content: center;
}

#with-form {
	height: 400px;
}

#therapist-form {
	height: 530px;
}

div.icon-holder {
	background: #3B0CE8;
	border-radius: 50px;
	/* border: 1px black solid; */
	box-shadow: 2px 2px rgba(0,0,0,.2);
	width: 30px;
	height: 30px;
	position: absolute;
	top: -20px;
	left: 15px;
	display: flex;
	justify-content: center;
}

div.icon-holder i {
	position: relative;
	top: calc(50% - 11px)
}

button.signup-as-btn {
	
}