.signup-content-container {
	width: 100%;
	display: table;
	position: relative;
	top: 30%;
	max-height: 800px;
}

.signup-msg-container {
	margin: 0 auto;
	height: 200px;
	width: 300px;
	border-radius: 10px;
	background: #3B0CE8;
	border: 1px solid black;
	color: white;
}

.signup-as-div {
	position:relative;
	display: flex;
	justify-content: center;
}

.select-container {
	margin-top: 30px;
}

.full-width {
	width: 100%;
}

.btn-container {
	display: flex;
	justify-content: center;
}

#patient-form-div {
	height: 460px;
}

#therapist-form-div {
	height: 630px;
}
div.icon-holder {
	background: #4ecec4;
	border-radius: 50px;
	/* border: 1px black solid; */
	box-shadow: 2px 2px rgba(0,0,0,.2);
	width: 30px;
	height: 30px;
	position: absolute;
	top: 7px;
	left: 7px;
	display: flex;
	justify-content: center;
}


div.icon-holder i {
	position: relative;
	top: calc(50% - 11px);
}

form#therapist-signup input, form#patient-signup input{
	height: 30px;
	display: block;
}

form#therapist-signup label {

}

div.signup-as-div section {
	margin-top: 30px;
	margin-bottom: 30px;
}

div.signup-btn-container {
	display: flex;
	justify-content: center;
}