.signup-content-container {
	width: 100%;
	display: table;
	position: relative;
	top: 30%;
}

.signup-msg-container {
	margin: 0 auto;
	height: 200px;
	width: 300px;
	border-radius: 10px;
	/* background: rgb(15, 102,112); */
	/* background: rgb(254,105,96); */
	background: #3B0CE8;
	padding-top: 50px;
	color: white;
}

.signup-as-div {
	position:relative;
	display: flex;
	justify-content: center;
}

.select-container {
	margin-top: 10px;
}

.full-width {
	width: 100%;
}

.btn-container {
	display: flex;
	justify-content: center;
}

#with-form {
	height: 400px;
}

#therapist-form {
	height: 530px;
}

.icon-holder {
	position: absolute;
	top: -30px;
	left: 15px;
}

.signup-error-div {
	
}