/* top Layers */
html, body, #root, #App {
	height: 100%;
	width: 100%;
	/* background: black; */
}

::-webkit-scrollbar {
	display: none;
}


html, #App {
	background: rgba(0,0,0,.05);
}

/* #App {
	background: rgba(0,0,0,.3);
} */

/* Patient index component for therapists */

*, *:before, *:after {
	box-sizing: border-box
}

#patient-index-outer {
	margin: 50px;
}

.patient-container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 1000px;
	margin: 0 auto;
}

.patient-card {
	width: 300px;
	height: 500px;
	margin: 0 auto;
	overflow-y:scroll;
	border-radius: 25px;
	padding: 20px;
}

.patient-card.add-exercise-btn {
	justify-content: center;
}

.patient-name-container {
	margin: 0 auto;
	width: 95%;
	/* background-color: rgb(254,105,96); */
	border-radius: 10px;
	text-align: center;
}

.patient-name {
	justify-content: center;
	font-size: 18pt;
}

.btn-container {
	display:flex;
	justify-content: center;
}

.add-exercise-btn {
	border-radius: 100%;
	height: 30px;
	width: 30px;
	margin: 0 auto;
}

/* PatientCard Modal */

.exercise-list {
	margin-top: 10px;
	margin-left: 22px;
}

/* Simple Exercise Card */

.exercise-card {
	margin: 10px 0;
	padding: 5px;
	border-radius: 10px;
	/* background-color: black; */
	width: 100%;
}

.category {
	/* Teal */
	color: rgb(15,102,112);
	/* Sea Green */
	/* color: rgb(204,222,203); */
}

/* Expanded Exercise Card */

.expanded-patient-title {

}

/* Text */

#signup-link {
	color: blue;
}

/* New Exercise Form */

.x-btn {
	border-radius: 100%;
	border: hidden;
	height: 30px;
	width: 30px;
	color: rgba(0,0,0,.3);
	position: absolute;
	right: 0;
	top: 0;
}

/* Errors */

.error-div{
	height: 20px;
}

.error-msg {
	color:red;
	font-style:italic;
	font-size: 12px;
}

/* Comment Section */

.therapist-comment-section {
	margin-left: 20px;
	height: 350px;
	/* border: 1px solid rgba(0,0,0,.3); */
	box-sizing: border-box;
}

.patient-comment-section {
	height: 50px;
}

.show-comments-area-for-patient {
	overflow: scroll;	
	height:75px;
}

.new-comment-form {
	bottom: 0;
}

.comment-body {
	width: 100%;
	border-radius: 10px
}

.commenter-name {
	color: rgba(15,15,200, .4)
}