/* top Layers */
html, body, #root, #App {
	height: 100%;
	width: 100%;
}

/* Patient index component for therapists */

*, *:before, *:after {
	box-sizing: border-box
}

#patient-index-outer {
	margin: 50px;
}

.patient-container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 1000px;
	margin: 0 auto;
}

.patient-card {
	width: 300px;
	height: 500px;
	margin: 0 auto;
	overflow-y:scroll;
	border-radius: 25px;
	padding: 20px;
}

.patient-card.add-exercise-btn {
	justify-content: center;
}

.patient-name-container {
}

.patient-name {
	justify-content: center;
}

.btn-container {
	display:flex;
	justify-content: center;
}

.add-exercise-btn {
	border-radius: 100%;
	height: 30px;
	width: 30px;
	margin: 0 auto;
}

.x-btn-container {
	display:flex;
	justify-content: right;
}

.x-btn {
	border-radius: 100%;
	border: hidden;
	color: gray;
	margin: 0;
	font-size: 16px;
	background: none;
}

.exercise-form-background {
	background: rgba(0,0,0,.3)
}

.exercise-form-div{
	display: absolute;
	margin: 0 auto;
	height: 300px;
	width: 400px;
	border: solid black 2px;
}


/* Text */

#signup-link {
	color: blue;
}

/* Errors */

.error-div{
	height: 20px;
}

.error-msg {
	color:red;
	font-style:italic;
	font-size: 12px;
}