div#login-container {

	position: relative;
	top: 30vh;
	margin: 0 auto;
	width: 300px;
	height: 200px;
	text-align: center;

	background: color(primary);
	border: 1px solid #000;
	border-radius: 10px;

	form#login-as-form {
		position: relative;
		top: 15%;
	}

	p#register-msg {
		position: absolute;
		bottom: 20px;
		text-align: center;
		width: 100%;
	}

	section.login-as-btn-container {

		margin-top: 10px;
		margin-bottom: 10px;

		button.model-btn {
			background-color: #fff;
			border-radius: 10px;
			height: 40px;
			width: 80px;
			text-align: center;
			align-content: center;
			border: none;
			margin: 5px;
		}

		button.model-btn:hover {
			background-color: color(secondary);
		}

		button.active {
			transition: .25s;
			background-color: color(secondary);
			color: #fff;
		}

		button.next-btn, button.back-btn {
			height: 20px;
			span {
				position: absolute;
				bottom: 5px;
				font-size: 10px;

			}
			span.back {
				right: 10px
			}
			span.next {
				left: 10px;
			}
		}

	}
	#signup-link {
		text-decoration: underline;
		cursor: pointer;
	}
	#signup-link:hover {
		color: #0000a9
	}

	#login-msg {
		position: absolute;
		top: 0;
	}

	div.login-icon-holder {
		@include center-content;
	
		position: absolute;
		top: 7px;
		left: 7px;

		background: color(secondary);
		border-radius: 50px;
		box-shadow: 2px 2px rgba(0,0,0,.2);
		width: 30px;
		height: 30px;

		z-index: 1;
		
		i#back-icon {
			position: relative;
			top: calc(50% - 11px);
			color: #fff;
			transition-duration: .05s;
		}

		i#back-icon:hover, 
		i#back-icon:focus, 
		i#back-icon:active {
			color: rgb(1, 209, 246);
			transform: scale(1.2);
		}

		i#back-icon:active {
			transform: scale(1.2) translateY(2px)		
		}

	}

	form#login-form {

		width: 200px;
		margin: 0 auto;
		padding: 10px;
		
		label {
			float: left;
			margin-left: -10px;
		}

		input {
			height: 30px;
			margin-bottom: 10px;
		}

		button {
			margin: 0 auto;
		}
	}

	label, p#register-msg {
		color: #fff;
	}

}

p.err {
	position: absolute;
	top: 10px;
	color: color(error);
	width: 100%;
}