@import './modules/sizes';

#navbar {
	display:block;
	height: size(app-bar);
	top: 0;
	position: absolute;
	z-index: 1;
	width: 100%;
	max-width: 1200px;

	li {
		list-style-type: none;
	}
	ul {
		padding-inline-start: 40px;
		padding-inline-end: 40px;
	}
}

#footer {
	height: 200px;
	bottom: 0;

	background: #000;
	color: #fff;
	
	#icon-container {
		@include center-content;
		
		padding-top: 20px;
		margin-bottom: 30px;
	}

	#divider {
		margin-bottom: 30px;
	}

	#footer-text-div {
		background: color(primary);
		margin: 0 auto;
		width: 100%;
		height: 30px;
		text-align: center;
		display: table;
	}

	#footer-text {
		display: table-cell;
		vertical-align: middle;
		color: black;
	}

}

