.login-content-container {
	width: 100%;
	display: table;
	position: relative;
	top: 30%;
}

.login-msg-container {
	margin: 0 auto;
	min-height: 200px;
	max-height: 300px;
	width: 300px;
	border-radius: 10px;
	/* background: rgb(15, 102, 112); */
	background: #4eC3c4;
	/* padding-top: 30px; */
	color: white;
	border: solid black 1px;
	box-shadow: rgba(0,0,0,.1) 3px 3px;
	display: table;
}

.logged-in-content-container {
	justify-content: center;
}

.btn-container {
	justify-content: center;
}

div.login-msg-div {
	margin-top: 40px;
	justify-content: center;
}

.login-msg-div h3{
	margin-top: 10px;
	color: #3B0CE8;
}

.login-msg-div h3, .login-msg-div p {
	text-align: center;
	margin-bottom: 10px;
}

div.login-as-div {
	margin-top: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	width: 300px;
	margin: 20px auto 0 auto;
}

form#login-as-form {
	width: 200px;
}

form button.login-as-next-btn {
	background: blue;
}

#select-model {
	width: 100%;
	margin: 10px auto;
}

button.model-btn {
	background-color: white;
	border-radius: 10px;
	height: 40px;
	width: 80px;
	text-align: center;
	align-content: center;
	border: none;
	margin: 5px;
}

button.active {
	transition: .25s;
	/* background: rgb(254,105,96); */
	background: #3B0CE8;
	color: white;
}

div.login-as-btn-div {
	position: relative;
	margin: 20px auto 5px auto;
	width: 100%;
	display: flex;
	padding-left: 4px;
	justify-content: center;
}

.select-bar {
	height: 40px;
	font-size: 14px;
}

div button.login-as-btn {
	height:20px;
	margin: 0;
}

div span.btn-text-back {
	bottom: 5px;
	font-size: 10px;
	position: absolute;
	right: 10px;
}
div span.btn-text-next {
	bottom: 5px;
	font-size: 10px;
	position: absolute;
	left: 10px;
}

.register-msg {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.form-container {
	display: block;
	margin-top: 30px;
}

form label {
	margin-left: -10px;
}

form#login-form input {
	height: 30px;
	display: block;
	margin-bottom: 10px;
}

div.login-form-div {
	/* margin-top: 20px; */
	position: relative;
	display: flex;
	justify-content: center;
}

div.login-icon-holder {
	background: #3B0CE8;
	border-radius: 50px;
	/* border: 1px black solid; */
	box-shadow: 2px 2px rgba(0,0,0,.2);
	width: 30px;
	height: 30px;
	position: absolute;
	top: 7px;
	left: 7px;
	display: flex;
	justify-content: center;
}

div.login-icon-holder i {
	position: relative;
	top: calc(50% - 11px)
}

div.login-btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

div.login-error-div {
	display: block;
	margin-top: -10px;
	margin-bottom: -10px;
	font-size: 8pt;
	color: rgb(200,0,0);
	width: 100%;
	text-align: center;
}