@import './modules/colors';
@import './modules/sizes';
@import './partials/containers';
@import './partials/content';
@import './vendors/fonts';
@import './vendors/effects';

@import 'menus';
@import 'home';
@import 'login';

html {
	background: color(main-background) ;
	max-width: 1200px;
	min-height: 100vh;
}