@import './modules/colors';
@import './modules/sizes';
@import './partials/containers';
@import './partials/content';
@import './vendors/fonts';

@import 'menus';
@import 'home';

html {
	color: 'salmon';
	max-width: 1200px;
	min-height: 100vh;
}