
::-webkit-scrollbar-track {
	display: none;
}

.patient-show {
	margin: 70px auto 0 auto;
	min-height: 600px;
	max-height: 1200px;
}

.patient-show-content-container {
	margin: 0 auto;
}

.exercise-container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	
}

.patient-exercise-card {
	/* width: 700px; */
	width: 300px;
	height: 600px;
	margin: 0 auto;
	overflow: visible;
	border-radius: 25px;
	padding: 20px;
	box-sizing: border-box;
	border: solid #fff 1px;
}

.exercise-name-div {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 40px;
}

.exercise-name {
	overflow-y: scroll;
}

.exercise-name::-webkit-scrollbar {
	display: none;
}

.video-container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.flag-div {
	position: absolute;
	right: 20px;
	top: 10px;
	overflow: visible;
}

.flagged {
	color: red;
	transition-duration: .5s;
}

.concern-msg {
	position: absolute;
	display: flex;
	justify-content: center;
	text-align: center;
	box-shadow: 3px 3px rgba(0,0,0,.3);
	border: none;
	height: 70px;
	width: 70px;
	border-radius: 100%;
	font-size: 13px;
	font-weight: bold;
	background: rgba(255,255,255,.9);
	color: red;
	top: -80px;
	right: -20px;
	padding-top: 13px;
	transition-duration: .5s;
}

div.patient-name-div {
	width: 100%;
	height: 70px;
	background-color: #4ECEC4;
	display: table;
}

div.patient-name-div-in-div {
	display: table-cell;
	vertical-align: middle;
}

.patient-name {
	text-align: center;
}

.exercises-title {
	text-align: center;
}

.written-content {
	height: 150px;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 10px;
	overflow-y:scroll;
	font-size: 12px;
	border: solid rgba(0,0,0,.2) 1px;
}

/* Comments Section */

.patient-comment-section {
	display: block;
	height: 110px;
}

.patient-show-comments-area {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 90%;
	min-height: 10px;
	max-height: 80px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.patient-new-comment-form-div {
	width: 260px;
	position: absolute;
	bottom: 20px;
}

.patient-comment-body {
	width: 100%;
	padding: 4px;
	border-radius: 5px;
	border: none;
}

form.patient-new-comment-form button.patient-comment-submit {
	/* background-color: rgb(15,102,112);
	color: white; */
	background-color: white;
	/* color: rgb(15,102,112); */
	color: #4ECEC4;
}